.ui-table {
    // Checkboxes
    .cbox-cell {
        width: 20px;
        flex: 0 !important;
        display: flex;
        
        .ui-checkbox {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .row {
        display: flex;

        >* {
            flex: 1;
            padding: 5px;
        }

        &.hdr {
            background-color: black;
            color: white;
        }

        &.odd {
            background-color: #eee;
        }

        &.even {
            background-color: #fff;
        }
    }

    .col {
        display: flex;

        .label {
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
            flex: 1;
        }

        .icon {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 0.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 8px;
            height: 32px;
            width: 32px;
        }
    }
}