.field input {
    margin-bottom: 1rem;
}

.matching {
    color: green;
}

.not-matching {
    color: red;
}

.green-border {
    border: 1px solid green !important;
}

.red-border {
    border: 1px solid red !important;
}