#password-strength {
    height: 5px;
    width: 90%;
    display: block;
    background-color: #ccc;
}

#password-strength span {
    display: block;
    height: 5px;
    border-radius: 2px;
    transition: all 500ms ease;
}

.strength-0 {
    div {
        color: red;
        margin-top: 0.5rem
    }

    span {
        background-color: red;
        width: 5%;
    }
}

.strength-1 {
    div {
        color: orangered;
        margin-top: 0.5rem
    }

    span {
        background-color: orangered;
        width: 25%;
    }
}

.strength-2 {
    div {
        color: orange;
        margin-top: 0.5rem
    }

    span {
        background-color: orange;
        width: 50%;
    }
}

.strength-3 {
    div {
        color: yellowgreen;
        margin-top: 0.5rem
    }

    span {
        background-color: yellowgreen;
        width: 75%;
    }
}

.strength-4 {
    div {
        color: green;
        margin-top: 0.5rem
    }

    span {
        background-color: green;
        width: 100%;
    }
}